*,
*:afeter,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.title-page {
    text-align: center;
}

.paragraph {
    padding-left: 100px;
    padding-right: 100px;
}

/* Header */
header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height:50px;
    padding: 20px;
}
header > .logo {
    margin-right: 60%;
}
header nav {
    word-spacing: 50px;
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-gap: 1rem;
}

.gallery {
    list-style: none;
}

.image-group-projects img {
    width: 90%;
}

.image-group-projects {
    margin-bottom: 5px;
}

.image-project {
    box-sizing: border-box;
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.image-project img {
    width: 70%;
}

/* Foooter */

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
